{% extends 'base.html' %}

{% block content %}
    <table>
        <tbody>
            <tr>
                <th>Name</th>
                <th>Capacity</th>
                <th>Projector in the room</th>
                <th>Availability</th>
            </tr>
            {% for room in rooms %}
                <tr>
                    <td><a href="/room/details/{{ room.id }}"> {{ room.name }}</a></td>
                    <td>{{ room.capacity }}</td> <td>{{ room.projector }}</td>
                    <td>
                        {% if room.reserved %}
                            <p style="color:red;">Booked</p>
                        {% else %}
                            <p style="color:green;">Available</p>
                        {% endif %}
                    </td>

                    <td><a href="/room/edit/{{ room.id }}">Edit</a></td>
                    <td><a href="/room/delete/{{ room.id }}">Delete</a></td>
                    <td><a href="/room/reserve/{{ room.id }}">Reserve</a></td>
                </tr>
            {% empty %}
                <h4>No rooms in our database. Create one.</h4>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

